<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = 'UTF-8'>
    <title>Home Page</title>
</head>
<body>
    <h1 style = 'color: green'>Login</h1>
    <form action = '/home-page' method = 'post'>
        <label for = 'user_name'>User name:</div></label>
        <input type = 'str' placeholder = 'Enter your user name' name = 'user_name'>
        <input type = 'submit' name = 'login_button' value = 'Login'><br><br>
        {{topic|safe}}<br>{{description|safe}}
</body>
</html>